.card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  &__image {
    border-radius: 5px 5px 0 0;
  }

  &__content {
    padding: 10px;
    &-title {
      margin-top: 10px;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-price {
      font-weight: bold;
      margin-top: 3px;
      font-size: 1rem;
    }
  }
}
