.product {
  &__banner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px !important;

    &-image {
      border-radius: 8px !important;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;

    &-item {
      flex: 1 0 188px;
      margin: 5px;
      width: 16.66667%;

      @media screen and (min-width: 320px) and (max-width: 623px) {
        max-width: 46%;
      }
      @media screen and (min-width: 624px) {
        max-width: 23%;
      }
    }
  }

  &__detail {
    margin-top: 12%;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 769px) {
      flex-direction: row;
    }

    .pdp-image {
      padding: 10px;
      border-radius: 5px;
      @media screen and (min-width: 769px) {
        max-width: 390px;
      }
    }

    .pdp-content {
      margin-top: 20px;
      @media screen and (min-width: 769px) {
        margin-top: 0;
        margin-left: 6%;
      }

      .title {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 18px;
      }

      .price {
        font-weight: bold;
        font-size: 14;
      }

      .description {
        margin-top: 20px;
        font-size: 14px;
        text-align: justify;
      }
    }
  }
}
